<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#each listsArr}}
    <h4>{{this.description}}</h4>
    <form method="POST" action="/completed/{{this._id}}/delete">
      <button>Delete</button>
    </form>
    {{/each}}
</body>
</html>