<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{{!-- 
    <h2>Login</h2>
    <form method="post" action="/login">
        
            <span>Username</span>
            <input type="text" name="username">
        
          
            <span>Password</span>
            <input type="password" name="password">
        
        <div>
            <button type="submit">Sign In</button>
        </div>
    </form> --}}
    

    <section>
        <div class="imgBx">
          <img src="images/log-in.jpg">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Login</h2>
                <form method="post" action="/login">
                    <div class="inputBx">
                        <span>Username</span>
                        <input type="text" name="username">
                    </div>
                    <div class="inputBx">
                        <span>Password</span>
                        <input type="password" name="password">
                    </div>
                    <div class="inputBx">
                        <button type="submit">Sign In</button>
                    </div>
                    <div class="inputBx">
                        <p>Don't have an account <a href="/signup">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div>
      </section>
</body>
</html>