<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Log in page</h1>
    <form method="post" action="/login">
        <div class="form-setup">
            <label>Username:</label>
            <input type="text" name="username">
        </div>
          <div class="form-setup">
            <label>Password:</label>
            <input type="password" name="password">
        </div>
        <div>
            <button type="submit">Log In</button>
        </div>
    </form>
    
</body>
</html>