*
{
margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }

nav {
  display:flex;
  justify-content: space-between;
  padding: 20px 20px;
}

nav ul {
  display:flex;
  list-style-type: none;
}

nav ul a {
  margin-right:2rem;
  text-decoration: none;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .hero-info {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-info h1, h2, p {
    padding: 1em;
  }
  
  .hero-image {
    height: 100%;
    width: 35rem;
    margin: 30px;
  }
  
  .logout {
    padding: 2px 10px;
    letter-spacing: 1px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
  }
  
  .logout:hover {
    background-color: #aee5ff;
  }


  h3 {
    margin-top: 60px;
    text-align: center;
  }