body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}


.form-setup > label, input {
  display: block;
}

nav {
  display:flex;
  justify-content: space-between;
}


nav ul {
  display:flex;
  list-style-type: none;
}

nav ul a {
  margin-right:2rem;
  text-decoration: none;
  /* font-size: 1.5rem; */
}

/* .container {
  display: flex;
  padding: 0.5rem;
} */

/* .container {
  margin-inline: auto;
  width: min(50%, 70.5rem)
} */

.split {
  display: flex;
  padding: 1rem;
}


/*Priorities.hbs*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: min(80%, 70.5rem)
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2rem;
  font-size: 1.5rem;
  text-align: left;
}

.add-task-line {
  margin-bottom: 3rem;
}