*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 }

nav {
  display:flex;
  justify-content: space-between;
  padding: 20px 20px;
}

nav ul {
  display:flex;
  list-style-type: none;
}

nav ul a {
  margin-right:2rem;
  text-decoration: none;
}

